node_modules/
/vue/src/server/daemon/
/env/
/data/
/.idea/
.vscode/
backend/replifactory/server/static/build/
cache_manifest.json
dist/

__pycache__/
.venv/
/secrets/
/secrets2/
/logs/
/venv/
/db/
*.db
.coverage
coverage.xml

venv/
.env
/vue/dist/
/vue/public/
